/* TOMBOL */
/* .vt-sort::after {
    padding-left: 0.5em;
    display: inline-block;
}

.vt-sortable::after {
    content: "\25B2";
    color: transparent;
}

.vt-asc::after {
    content: "\25BC";
}

.vt-desc::after {
    content: "\25B2";
} */


/* SCROLL */

/* ::-webkit-scrollbar {
    width: 8px;
    background-color: white
}

::-webkit-scrollbar-thumb {
    background-color: #b5b5bd;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246);
} */
